body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    width: 800px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9); 
}

.image-section {
    background-color: #b1734c;
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column; 
}

.logo {
    margin-bottom: 0px; 
}

.logo img {
    width: 250px; 
}

.image-content {
    text-align: center;
}

.image-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.image-content p {
    font-size: 14px;
}

.login-section {
    width: 50%;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-section h2 {
    margin: 0 0 20px 0;
    color: #b1734c;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #666;
}

input[type="text"], input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.forgot-password {
    color: #b1734c;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: right;
}

button {
    background-color: #b1734c;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #925e3e;
}

.create-account {
    text-align: center;
    color: #b1734c;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 15px;
}

.create-account:hover {
    color: #925e3e;
}

.forgot-password:hover{
    color: #925e3e;
}

